@use "../utils/" as u;

.drawer {
  svg {
    margin-right: u.rem(10);
  }

  // .ant-menu-item-selected,
  .ant-menu-item-selected,
  li:hover,
  li:active {
    border-left: u.rem(3) solid u.$active-color;
    svg {
      path {
        fill: u.$active-color;
        stroke: u.$active-color;
      }
    }

    a,
    span {
      color: u.$active-color;
    }
  }
}

.navbar {
  display: flex;
  align-items: center;
  background-color: u.$primary-bg;
  padding: 1rem 2rem;

  .logo {
    height: 32px;
    margin-left: 1rem;
  }

  @include u.breakpoint(large) {
    .menu {
      display: none;
    }
    .logo {
      margin-left: 0;
    }
  }

  .header-account {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    column-gap: u.rem(10);

    justify-content: center;
    align-items: center;
    margin-left: auto;

    p {
      color: u.$white-color;
      margin-bottom: 0;
    }

    @include u.breakpoint_down(medium) {
      grid-template-columns: 1fr;
      p {
        display: none;
      }
    }
  }
}
