@use "../utils/" as u;

html {
  box-sizing: border-box;
  font-size: 100%;
}

input {
  width: min(100%);
  margin-inline: auto;
}

body,
#root {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.content {
  padding: 1rem;
}
