@use "../custome" as *;

.drawer {
  .ant-menu-item-selected,
  li:hover,
  li:active {
    border-left: 3px solid $secondary;
    svg {
      path {
        fill: $secondary;
        stroke: $secondary;
      }
    }

    a,
    span {
      color: $secondary !important;
    }
  }
}
