@use "../utils/" as u;

.Home {
  .home-grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five";

    .card:nth-child(1) {
      grid-area: one;
    }
    .card:nth-child(2) {
      grid-area: two;
    }
    .card:nth-child(3) {
      grid-area: three;
    }
    .card:nth-child(4) {
      grid-area: four;
    }
  }

  @include u.breakpoint(medium) {
    .home-grid {
      grid-template-areas:
        "one one"
        "two two"
        "three four";
    }
  }

  @include u.breakpoint(large) {
    .home-grid {
      grid-template-areas:
        "one one one two"
        "three three four four";
    }
  }

  //   @media screen and (min-width: 40em) {
  //     .home-grid {
  //       grid-template-areas:
  //         "one one"
  //         "two two"
  //         "three four";
  //     }
  //   }

  img {
    width: clamp(u.rem(100), u.rem(100) + 2vw, u.rem(120));
  }

  .home-slider {
    text-align: center;
    img {
      width: 100%;
    }
  }
}
