.Login {
  a {
    text-decoration: underline;
  }

  .login-form {
    padding: 40px;
  }

  .card {
    width: clamp(300px, 100% - 15vw, 700px);
    box-shadow: -4px 9px 50px gray;
    border-radius: 20px;

    &-body {
      padding: 0;
      border-radius: inherit;
    }
  }

  .login-btn {
    border-radius: 20px;
    width: calc(100% - 20vh);
  }

  .login-pic {
    background-image: url("/images/contactUs.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-right-radius: inherit;
    border-top-right-radius: inherit;
  }
}
